
@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot');
  src: url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.woff2') format('woff2'),
  url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.woff') format('woff'),
  url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'PFDinTextCompPro';
  src: url('fonts/PFDinTextCompPro-MediumItalic/PFDinTextCompPro-MediumItalic.eot');
  src: url('fonts/PFDinTextCompPro-MediumItalic/PFDinTextCompPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFDinTextCompPro-MediumItalic/PFDinTextCompPro-MediumItalic.woff2') format('woff2'),
  url('fonts/PFDinTextCompPro-MediumItalic/PFDinTextCompPro-MediumItalic.woff') format('woff'),
  url('fonts/PFDinTextCompPro-MediumItalic/PFDinTextCompPro-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


@font-face {
font-family: 'PFDinTextCompPro';
src: url('fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.eot');
  src: url('fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.woff2') format('woff2'),
  url('fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.woff') format('woff'),
  url('fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.ttf') format('truetype');
font-weight: lighter;
font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.eot');
  src: url('fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.woff2') format('woff2'),
  url('fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.woff') format('woff'),
  url('fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}


@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot');
    src: url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.woff2') format('woff2'),
    url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.woff') format('woff'),
    url('fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  }


body {
  
   font-size: 1.3rem; 
  font-weight: 400;
  font-family: PFDinTextCompPro,PT Sans Narrow,helvetica,arial,tahoma;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #242424;
  line-height: 24px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: #242424;
  font-weight: 700;
}

h1, h2 {
  font-size: 2.2rem;
}

h2{
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4{
  font-size: 20px;
}

img{
  max-width: 100%;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

.hero-area-bg {
  /* background-image: url(./img/hero_grand.jpg); */
  /* linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255,1)),
  url(./img/hero_grand.jpg); */
 background-size: 50%; 
 background-position: right bottom;
 
 background-repeat: no-repeat;
}

#hero-area .contents {
  /* padding: 90px 15px 2em 15px; */
  color: #fff;
  text-align: left;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0.0) 100%), repeat 0;
  background-position-x: right;
  background-position-y: center;
  z-index: 15;
}


 hero-area ul, hero-area ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 0;
}

ul li, ol li {
  list-style: none;
}

.section-title-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  /* color: #585b60; */
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  /* margin-bottom: 18px; */
  padding: 0 10px;
  position: relative;
}

.padding-none {
  padding: 0px;
}


.btn {
   font-size: 1.6rem; 
   padding: 2px 30px;
  cursor: pointer;
  font-weight: 500;
  /* color: #fff; */
  border-radius: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn .btn-link{
  color: #0056b3;
}


.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  /* color: #fff; */
}

.header-button {
  display: contents;
}

.btn-common {
  background-color: #4385f3;
  position: relative;
  color: #fff;
}

.btn-common-invert {
  background-color: #99ccf7;
  color: #242424;
  position: relative;
  z-index: 1;
  /* font-size: 1.1em; */
  font-weight: 400;
}


.btn-common:hover, .btn-common-invert:hover {
  color: #fff;
  background-color: #4297e0;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #4385f3;
  background-color: transparent;
  border: 1px solid #4385f3;
}

.btn-border:hover {
  color: #fff;
  border-color: #4385f3;
  background-color: #4385f3;
}

.lgray {
  color: rgb(231, 231, 231);
}
.btn-border:focus {
  color: #fff;
  border-color: #4385f3;
  background-color: #4385f3;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 18px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #4385f3;
}

.social-icon a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff !important;
}

.social-icon .facebook:hover {
  background: #3b5999;
}

.social-icon .twitter:hover {
  background: #4A9CEC;
}

.social-icon .instagram:hover {
  background: #D6274D;
}

.social-icon .linkedin:hover {
  background: #1260A2;
}

.social-icon .google:hover {
  background: #CE332A;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #4385f3;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #4385f3;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 7px solid #f2f2f2;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section-padding {
  padding: 60px 0;
}

hr {
  border-top: 1px dotted #ddd;
}

#howitworks {
  background: #f8f9fb;
}

.modal-content{
  width: 100%;
}
.modal {
  z-index: 999999 !important;
}


.text-wrapper {
  height: 100%;
  display: table;
  padding-left: 140px;
}

.text-wrapper > div {
  vertical-align: middle;
  display: table-cell;
}

.feature-thumb {
  margin-right: -60px;
}

.title-hl {
  font-size: 40px;
  margin-bottom: 30px;
}

.features-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.features-box .features-icon {
  margin-bottom: 15px;
  
}

.features-box .features-icon i {
  color: #4385f3;
  font-size: 30px;
  font-weight: 900;
  padding-left: 2em;
}

.features-box .features-content h4 {
  text-align: left;
  font-size: 1.1em;
  color: #4385f3;
  font-weight: 700;
  margin-bottom: 5px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.features-box .features-content p,
.services-content p {
  font-size: 1em;
}


.client-item-wrapper {
  text-align: center;
  padding: 15px;
}

.client-item-wrapper img {
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  transition: all .6s ease;
  -moz-transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.client-item-wrapper:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

/* Services Item */
.services-item {
  padding: 15px;
  border-radius: 4px;
  text-align: left;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon {
  float: left;
}

.services-item .services-content {
  padding-left: 46px;
  padding-top: 12px;
}

#services h3 {
  text-transform: uppercase;
}

.services-item .icon i {
  font-size: 36px;
  width: 36px;
  display: block;
  height: 36px;
  color: #4385f3;
}

.services-item .services-content h3 {
  /* margin-top: 10px; */
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.services-item .services-content h3 a {
  font-size: 1.1em;
  /* font-size: 15px; */
  text-transform: uppercase;
  /* color: #585b60; */
}

.services-item .services-content h3 a:hover {
  color: #4385f3;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: 500;
}

.top-nav-collapse {
  /* background: #fff; */
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  /* background: #fff !important; */
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 65%;
}

.nav-tel {
  font-size: 25px;
  font-weight: 700;
  min-width: 230px;text-align: right;
  line-height: normal !important;
  /* margin-top: 15px; ; */
  color: #fff !important;

}


.top-nav-collapse .navbar-nav .nav-link {
  /* color: #585b60 !important; */
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #fff !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #fff !important;
}


.indigo {
  background:#4385f3 ;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link i {
  font-size: 14px;
  font-weight: 900;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-weight: 400;
  padding: 8px 17px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #fff;
  outline: none;
}

.navbar-expand-lg .navbar-nav .active > .nav-link,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.open,
.navbar-expand-lg .navbar-nav .open > .nav-link {
  color: #fff !important;
}

.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fff !important;
}

.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  /* float: left; */
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #4385f3;
  background: #f7f7f7;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #fff;
}

.slicknav_menu .slicknav_icon-bar {
  background: #fff;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px 15px;
    top: 0;
  }
  .navbar-brand {
    font-size: 1.3em;
    font-weight: 500;
    /* color: darkblue !important ;  */
  }
  

  .navbar-brand img {
    width: 75%;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #FD6E74;
    outline: none;
    background: #f8f9fa;
  }
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 7px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #4385f3;
    outline: none;
    background: #f8f9fa;
  }
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  /* color: #fff; */
  overflow: hidden;
  position: relative;
}

#hero-area .contents {
  padding: 110px 0px 30px;
}

#hero-area .contents h5 {
  font-size: 50px;
}

#hero-area .contents {
  color: #36383a;
  line-height: 40px;
}

#hero-area .contents li, #hero-area .contents p {
  font-size: 1.15em;
}
#hero-area .contents i {
  font-size: 0.5em;
}

#hero-area .contents .head-title {
  font-size: 2.4em;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 15px;

}
#hero-area .contents h3 {
  font-size: 1.5em !important;
  color: #404244;
}

#hero-area .contents h4 {
  font-size: 1.2em !important;
  color: #57585a;
  font-weight: 300;
}

.sloder-img {
  background: #34363a;
}

.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
  border-radius: 0.7em;
  line-height: 1;
  white-space: nowrap;
}

.label-success, .badge-success{
  background-color: #007bff;
  color: #FFFFFF;
}


.bgimg {
 /* background: url('./img/p4.gif') repeat 0 ; */
   /* background: linear-gradient(155deg, 
   rgba(248, 249, 251, 0.5) 40%,
   rgba(255,255,255,0.0) 100%),
    url('./img/p4.gif') repeat 0;
   */
   background-repeat: 0;
   background-position-x: right;
   background-position-y: bottom;
   background-repeat: no-repeat;
   background-size: 440px;
}

.bgimg-mobile {
  display: none;
} 

.bg-hero {
  /* background: linear-gradient(to right, 
  rgba(248, 249, 251, 1) 80%,
  rgba(248, 249, 251, 0.0) 100%),
    repeat 0; */

   background-position-x: right;
   background-position-y: center;
   background-repeat: no-repeat;
}


/* Team Item */
.team-item:hover {
  box-shadow: 0 20px 30px -12px rgba(0, 0, 0, 0.35);
}

.team-item {
  margin: 15px 0;
  border-radius: 0px;
  box-shadow: 0 10px 30px -7px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .team-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0px;
}

.team-item .team-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  width: 100%;
  border-radius: 0px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon {
  color: #fff;
  top: 45%;
  position: absolute;
  display: table-cell;
  margin: 0 auto;
  width: 100%;
}

.team-item .overlay-social-icon .social-icons {
  padding-left: 0;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li {
  display: inline-block;
  margin: 0 4px;
}

.team-item .overlay-social-icon .social-icons li a {
  letter-spacing: 0px;
  outline: 0 !important;
}

.team-item .overlay-social-icon .social-icons li a i {
  font-size: 20px;
  color: #fff;
  width: 36px;
  height: 36px;
  background: #4385f3;
  display: block;
  border-radius: 4px;
  line-height: 36px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-facebook-filled {
  background: #3B5998;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-twitter-filled {
  background: #00aced;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-instagram-filled {
  background: #fb3958;
}

.team-item .info-text {
  padding: 15px 20px;
  background: #fff;
}

.team-item .info-text h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.team-item .info-text h3 a {
  color: #333;
}

.team-item .info-text h3 a:hover {
  color: #4385f3;
}

.team-item .info-text p {
  margin: 0;
  color: #888;
}

.team-item:hover .team-overlay {
  opacity: 1;
}

/* ==========================================================================
   Pricing Table Style
   ========================================================================== */
#pricing {
  text-align: center;
}

#pricing .title {
  padding-top: 25px;
  padding-bottom: 25px;
}

#pricing .title h3 {
  text-transform: uppercase;
  color: #4385f3;
  font-size: 15px;
  margin-bottom: 0px;
}

#pricing .table {
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#pricing .table .icon {
  padding-top: 30px;
}

#pricing .table .icon i {
  color: #4385f3;
  font-size: 42px;
}

#pricing .table .pricing-header {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

#pricing .table .pricing-header .price-value {
  font-size: 24px;
  /* color: #585b60; */
  position: relative;
  text-align: center;
  font-weight: 700;
  line-height: 62px;
}

#pricing .table .pricing-header .price-value sup {
  font-size: 18px;
  font-weight: 500;
  top: -18px;
}

#pricing .table .pricing-header .price-value span {
  font-size: 14px;
  font-weight: 500;
}

#pricing .table .description {
  text-align: center;
  padding: 0px 50px;
  margin-bottom: 20px;
  height: 200px;
}

#pricing .table .description li {
  font-size: 14px;
  font-weight: 400;
  color: #abacae;
  padding-bottom: 15px;
}

#pricing .table:hover {
  background: #f8f9fb;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
}

#pricing #active-tb {
  background: #f8f9fb;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
}

#pricing .active {
  z-index: 99999;
}

/*-------------------------------------------------------------------------------------
 TESTIMONIAL   ----------------------------------------------------------------------   
-------------------------------------------------------------------------------------- */


.testimonial-item {
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.testimonial-item .img-thumb {
  position: relative;
  margin: 10px 10px 10px 0;
}

.testimonial-item .img-thumb img {
  border-radius: 5%;
  box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
  display: inline-block;
  /* width: inherit; */
  padding: 5px;
  max-height: 90px;
  max-width: 120px;
  object-fit: scale-down;
}

.testimonial-item .rating i {
  color: #4385f3; 
}

.testimonial-item .content {
  overflow: hidden;
}

.testimonial-item .content .description {
  width: 100%;
}

.testimonial-item .info h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}

.testimonial-item .info h2 a {
  color: #4385f3;
}

.testimonial-item .info h3 {
  margin: 0;
  clear: both;
  font-size: 1.3rem;
  font-weight: 700;
  /* line-height: 26px; */
  margin-bottom: 5px;
}



.testimonial-item .rating {
  font-size: 16px;
  font-weight: 400;
  color: #4385f3;
}

.testimonial-item .info h4 {
  margin: 0;
  clear: both;
  font-size: 1.4rem;
  font-weight: 700;
  /* line-height: 26px; */
  margin-bottom: 5px;
}


.testimonial-item .icon-social {
  margin-top: 30px;
}

.testimonial-item .icon-social a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 15px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.testimonial-item .icon-social a:hover {
  color: #fff;
}

.testimonial-item .icon-social .facebook:hover {
  background: #3b5999;
}

.testimonial-item .icon-social .twitter:hover {
  background: #4A9CEC;
}

.testimonial-item .icon-social .instagram:hover {
  background: #D6274D;
}

.testimonial-item .icon-social .linkedin:hover {
  background: #1260A2;
}

.testimonial-item .icon-social .google:hover {
  background: #CE332A;
}

.owl-dots {
  margin-top: 10px;
}


.bubble {
  position: relative;
  max-height: 280px;
  padding: 7px;
  /* margin: -5px; */
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 12px;
  /* font-style: italic; */
  /* font-size: 16px; */
}
.bubble::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0px 15px 15px 15px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -15px;
  left: 15px;
}





/* ---------------------------------------------------------------------------------------------------------------
   */







.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-carousel button.owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline;
  text-align: center;
}

.owl-carousel button.owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-carousel button.owl-dot.active span, .owl-carousel button.owl-dot.clickable, .owl-carousel button.owl-dot:hover span {
  background: #4385f3;
}

.slick-slider {
  padding: 80px 0;
}

.slider-center img {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 63px 63px;
  position: relative;
  text-align: center;
}

.slider-center .slick-center img {
  -moz-transform: scale(1.9);
  -ms-transform: scale(1.9);
  -o-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  opacity: 1;
  transform: scale(1.9);
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px 20px;
  border: 1px solid #abacae;
}

.form-control:focus {
  border-color: #4385f3;
  box-shadow: none;
  outline: none;
}

textarea {
  border-radius: 4px !important;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.contact-right-area {
  margin-left: 50px;
}

.contact-right {
  padding: 4px;
}

.contact-right .single-contact {
  margin: 20px 0px;
  padding: 3px 55px;
  position: relative;
  color: #abacae;
}

.contact-right .single-contact p {
  margin-bottom: 5px;
}

.contact-right .single-contact p a {
  color: #abacae;
}

.contact-right .contact-icon {
  background: #4385f3;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}

#contact {
  position: relative;
  overflow: hidden;
}

#contact #contactForm {
  margin-top: 30px;
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}

.list-unstyled li {
  color: #d9534f;
}

#conatiner-map {
  margin-top: 30px;
  text-align: center;
  background-color: #fff;
  height: 480px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 101;
  width: 100%;
}

.h3 {
  font-size: 16px;
  margin-top: 26px;
}

.subscribes {
  background: #f8f9fb;
}

.subscribes h4 {
  text-align: center;
  font-size: 40px;
}

.subscribes p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.subscribe {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.subscribe .form-control {
  width: 100%;
  border-radius: 50px;
  position: relative;
  height: 52px;
  border: 1px solid #4385f3;
}

.subscribe .btn-submit {
  border: none;
  cursor: pointer;
  background: transparent;
}

.subscribe .btn-submit i {
  width: 48px;
  height: 48px;
  background: #4385f3;
  cursor: pointer;
  display: block;
  color: #fff;
  line-height: 48px;
  border-radius: 50%;
}

/* Footer Area Start */
.footer-area {
  background: #34363a;
}

.footer-area .footer-titel {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-area ul li {
  margin-bottom: 4px;
}

.footer-area ul li a {
  color: #ccc;
  /* font-size: 14px; */
  font-weight: 400;
}
.footer-area p {
  color: #ccc;
  /* font-size: 14px; */
  font-weight: 400;
}

.footer-area ul li a:hover {
  color: #4385f3;
}



.footer-area #subscribe-form {
  margin-top: 15px;
}

.footer-area #subscribe-form .form-group {
  position: relative;
}

.footer-area #subscribe-form .form-group .btn-common {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px;
  height: 39px;
  border-radius: 0;
  background: transparent;
  color: #4385f3;
  border-left: 1px solid #ddd;
}

#copyright {
  background: #34363a;
  border-top: 2px dotted #3b3d42;
  padding: 10px;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  text-align: center;
  margin: 0;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  color: #4385f3;
}

.blue {
  color:#007bff !important;
}

.article {
  padding: 1rem;
}


.article p {
  color: #444444;
}
.article h3 {
  font-size: 1.3rem;
}
.article i {
  font-size: 0.6rem;
  font-weight: bold;
}
.description-body p {
  text-align: center;
}

.header {
  text-align: center;
  padding-bottom: 1em;
  font-size: 2.5em;
}

.feature i {
  font-size: 0.8em;
}

.feature li {
  margin-bottom: 0.3em;
}

.list i {
  font-size: 0.8em;
}
.white {
  background-color: white !important;
}
.gray-bg{
  background-color: #f8f9fb !important;
}
.feature-text {
  font-size: 1.4em;
}
.feature-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.2em;
  font-weight: lighter;
  font-size: 1em;
}
.feature-icon i {
  color: #007bff;
  font-size: 2.4em;
}
.feature-icon {
  margin-right: 10pxG;
}
.text {
  color: rgb(61, 61, 61);
}
.doplata {
  font-size: 1.1em;
}

/* #Totalcost {
  font-size: 2.2rem;
  padding: 0.5rem 1.0rem;
} */

.description i{
  color: #007bff;
  font-size: 2.5em;
}
.description-icon {
  text-align: center;
}
.description-text {
  text-align: center;
}
.description-body {
  padding-top: 5px;
  padding-bottom: 20px;
}

.calc-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: top;
  margin-left: 20px;
}
.calc-checkbox input {
	width: 17px;
	height: 17px;
  margin: 0 3px 0 0;
  margin-right: 10px;
  margin-top: 5px;
  color: #007bff;
}

.calc-head {
  display: flex;
  align-items: flex-end;
}
.calc-price__price {
  line-height: 1.3;
  font-size: 1.3em;
  margin-top: 10px;
}

.material {
  padding: 1rem;
}
.material hr {
  margin-top: 6px;
  margin-bottom: 6px;
}
.material-list li {
  margin-top: 4px;
  margin-bottom: 4px;
}
.material-list a {
  color: #424242;
}
.material-list a:hover {
  text-decoration: underline; 
}

.thin {
  font-weight: 500 !important;
}
.smeta i {
  color: #000000;
  font-weight: 400;
}

.bg-img1 {
  background-image: url(../img/smeta/grand_smeta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.bg-img2 {
  background-image: url(../img/smeta/smeta2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.bg-img3 {
  background-image: url(../img/smeta/smeta3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.material-link {
  font-size: 1.2rem;
}
.material-link i {
  font-size: 0.7rem;
}

.supp {
  color: #FFFFFF;
  background-image: linear-gradient(rgb(33, 101, 215) 8%, rgb(67, 133, 243) 100%);
  position: relative;
  bottom: -70px;
  padding: 10px, 0px, 10px, 0px;
  font-weight: 200 !important;
}
.gradient {
  background: linear-gradient(to right, rgba(101, 150, 231, 0.1) 0%, rgba(101, 150, 231, 1) 10%, rgba(101, 150, 231, 1) 11%, rgba(101, 150, 231, 1) 29%, rgba(101, 150, 231, 1) 68%, rgba(101, 150, 231, 1) 90%, rgba(101, 150, 231, 0.1) 100%);
  height: 1px;
}
.supp-text {
  font-size: 1.1em;
  font-weight: 100;
  text-align: center;
}

.supp-bg {
  background-image:
  linear-gradient(to left, rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
   url(../img/feature/img-1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.work {
  padding-top: 70px;
  color: #525252;
  line-height: 1;
}

.work h2 {
  font-size: 1.6em;
  color: #525252;
}


.work-item img  {
  z-index: 111;
}

#calc-table td {
  vertical-align: middle;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.strong {
  font-weight: 700;
  background-color: rgb(255, 255, 255);
}

.strelka-1 {
  margin-bottom: -140px;
  margin-right: -300px;
}

.strelka-2 {
  margin-bottom: -130px;
  margin-right: -300px;
}

.strelka-3 {
  margin-bottom: -100px;
  margin-right: -300px;
}

.strelka {
  margin-bottom: 22%;
}

.strelka I {
  font-size: 3em;
}

.button {
  width: 100%;
  background-color: #31a754;
  color: #fff;
  text-align: center;
  padding: 14px 15px 11px 15px;
}

.button-text {
  color: #fff;
  font-weight: 100!important;
  font-size: 1.5em;
  line-height: 1;
  
}

.button:hover {
  background-color: #3cd169;
  
}

.button a:hover {
  color: #fff;
}

.collage-1 {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.collage-3 {
  background-color: #4385f3;
  max-width: 303px;
  width: 100%;
  text-align: left;
  padding-top: 30px;
  padding-left: 16px;
}
.collage-3 p {
  color: #fff;
  font-size: 1.3em;
  font-weight: 200;
  line-height: 1.4;
}

.collage-4 {
  display: flex;
  flex-direction: column;
}

.collage {
  display: flex;
  flex-direction: row;
}

.small {
position: relative;
padding: 0px;
 margin: 0px;
 display: table-cell;
}

.small::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.274);  
  z-index: 99999;
}

.row-1 {
  display: table-row;
}
.row-2 {
  display: table-row;
}

.sub {
  background-color: #4385f3;
  font-size: 2.1em;
  text-align: center;
  
  padding-top: 19px;
  padding-bottom: 24px;
  
}

.sub a {
  color: #fff;
  font-weight: 100;
}


.price-check-box {
	/* content: "\2713"; */
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, .5); */
	font-size: 1.2rem;
	text-align: center;
    line-height: 15px;
    color: transparent;
    border-radius: 3px;
    padding: 0px 3px;
    border-width: thin;
    border-style: solid;
    border-color: rgb(189, 189, 189);
}

#calc-table > tbody > tr.strong > td.text-center > span.price-check-box {
	color: #414141;
}

